#div-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-basis: 960px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.grid {
    border: solid 1px black;
    flex-basis: 50px;
    height: 50px;
    margin: 0 -1px -1px 0;
}